@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Medium.ttf),
    url(../public/fonts/Pro/Ravi-Medium.ttf),
    url(../public/fonts/Pro/RaviFaNum-Bold.ttf),
    url(../public/fonts/Pro/Ravi-Regular.ttf);
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Regular.ttf) format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Raavi";
  src: url(../public/fonts/Pro/Ravi-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Raavi", sans-serif;

}

button {
  cursor: pointer;
}
